
.container {
    
 display: flex;
 flex-direction: column;
 width: 300px;
 margin: auto;
 color: gainsboro;
 align-items:center;
 gap:15px;
  
}

.out_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background-color: #495b6b;
    align-items:center; 
   }

.navbar{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: space-between;
    align-items:center;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
   } 

#menu li{
    display:inline;
    }


#menu li a{
    text-decoration: none;
   
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 20px;
    font-size: 16px;
}  

#menu li a:hover{
    transition: ease-in-out;
    padding-bottom: 18px;
    color: rgb(190, 193, 194);
    font-weight: 700;
     
    
            
}  
    
